<% include partials/header %>


<div class="ui main text container segment">
    <div id="mainBox" class="ui huge header">Xero Organisation Details</div>
</div>

<hr>
    <p>
        <span class="DataTitle">Your Xero Organisation: </span><%= theOrg["Name"] %>
    </p>
    <p>
        <span class="DataTitle">Country Code: </span><%= theOrg["CountryCode"] %>
    </p>
    <p>
        <span class="DataTitle">Address: </span><%= theOrg["Addresses"][0]["AddressLine1"] %>,  <%= theOrg["Addresses"][0]["City"] %>
    </p>
    <p>
        <span class="DataTitle">Phone: </span><%= theOrg["Phones"][0]["PhoneNumber"] %>
    </p>
<hr>



<% include partials/footer %>